# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

__Objectives__

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create different markdown cells
- Create different code cells

Some of the popular languages the Data Scientist use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|--------|
|Jupyter Notebooks|
|Apache Zeppelin|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
200/6

33.333333333333336

## Author ##
Igor Vukobradovic